<section id="footer">
    <div class="footer-row">
        <i><a target="blank" href="{{contact.github.url}}">main*</a></i>
        <span class="hide">
        <i class="fa-solid fa-circle-xmark"><span> 0</span></i>
        <i class="fa-solid fa-triangle-exclamation"><span> 0</span></i>
        <i class="fa-solid fa-circle-info"><span> 1</span></i>
      </span>
        <i><a target="blank" href="{{contact.github.url}}">Git Graph</a></i>
        <i><a target="blank" href="{{contact.linkedin.url}}">Linkedin</a></i>
    </div>
    <div class="footer-row">
        <i class="hide">UTF-8</i>
        <i class="hide">CRLF</i>
        <i>HTML</i>
        <i class="fa-solid fa-ban"> <span>Port:5500</span></i>
        <i class="fa-regular fa-bell"></i>
    </div>
</section>
