<section id="footer">
    <div class="footer-row">
        <i><a target="blank" href="{{contact.github.main}}">main*</a></i>
        <span class="hide">
        <svg class="icon icon--sm" viewBox="0 0 512 512" fill="currentColor"><use href="#icon-circle-exclamation"></use></svg><span> 0</span>
        <svg class="icon icon--sm" viewBox="0 0 512 512" fill="currentColor"><use href="#icon-triangle-exclamation"></use></svg><span> 0</span>
        <svg class="icon icon--sm" viewBox="0 0 512 512" fill="currentColor"><use href="#icon-circle-info"></use></svg><span> 1</span>
      </span>
        <i><a target="blank" href="{{contact.github.url}}">Git Graph</a></i>
        <i><a target="blank" href="{{contact.linkedin.url}}">Linkedin</a></i>
    </div>
    <div class="footer-row">
        <i class="hide">UTF-8</i>
        <i class="hide">CRLF</i>
        <i>HTML</i>
        <svg class="icon icon--sm" viewBox="0 0 512 512" fill="currentColor"><use href="#icon-ban"></use></svg> <span>Port:5500</span>
        <svg class="icon icon--sm" viewBox="0 0 448 512" fill="currentColor"><use href="#icon-bell"></use></svg>
    </div>
</section>
