<!-- Output Tab -->
<div class="tab-content terminal-content-output">
    <div class="terminal-output">
        <div class="terminal-output-selector">
            <select id="terminalOutputSelector" aria-label="Selecionar tipo de output">
                <option value="maven">Maven</option>
                <option value="tasks">Tasks</option>
                <option value="java">Java</option>
                <option value="spring">Spring Boot</option>
            </select>
        </div>
        <div class="terminal-output-scrollable" id="outputContent">
            <!-- O conteúdo será preenchido dinamicamente pelo JavaScript -->
        </div>
    </div>
</div>
