<div class="terminal desktop-only">
    <!-- Radio buttons escondidos para controlar as abas -->
    <input type="radio" name="terminal" id="problems">
    <input type="radio" name="terminal" id="output">
    <input type="radio" name="terminal" id="terminals" checked>
    <input type="radio" name="terminal" id="debug">
    <input type="radio" name="terminal" id="ports">
    
    <!-- TEMPLATE: terminal-header.html -->
    
    <div class="content">
        <!-- TEMPLATE: terminal-tabs/problems-tab.html -->
        <!-- TEMPLATE: terminal-tabs/output-tab.html -->
        <!-- TEMPLATE: terminal-tabs/terminal-tab.html -->
        <!-- TEMPLATE: terminal-tabs/debug-tab.html -->
        <!-- TEMPLATE: terminal-tabs/ports-tab.html -->
    </div>
</div>
