<div class="terminal-header">
    <label for="problems" class="terminal-tab-problems">
        <span data-i18n="terminal.problems">PROBLEMS</span>
        <span class="terminal-tab-count">3</span>
    </label>
    <label for="output" class="terminal-tab-output">
        <span data-i18n="terminal.output">OUTPUT</span>
    </label>
    <label for="terminals" class="terminal-tab-terminals">
        <span data-i18n="terminal.terminal">TERMINAL</span>
    </label>
    <label for="debug" class="terminal-tab-debug">
        <span data-i18n="terminal.debugConsole">DEBUG CONSOLE</span>
    </label>
    <label for="ports" class="terminal-tab-ports">
        <span data-i18n="terminal.ports">PORTS</span>
    </label>
    <input type="checkbox" id="terminalToggle">
    <label for="terminalToggle" class="terminal-toggle"></label>
</div>
