<div class="terminal-header">
    <label for="problems" class="terminal-tab-problems">
        <span>PROBLEMS</span>
        <span class="terminal-tab-count">3</span>
    </label>
    <label for="output" class="terminal-tab-output">
        <span>OUTPUT</span>
    </label>
    <label for="terminals" class="terminal-tab-terminals">
        <span>TERMINAL</span>
    </label>
    <label for="debug" class="terminal-tab-debug">
        <span>DEBUG CONSOLE</span>
    </label>
    <label for="ports" class="terminal-tab-ports">
        <span>PORTS</span>
    </label>
    <input type="checkbox" id="terminalToggle">
    <label for="terminalToggle" class="terminal-toggle"></label>
</div>
